nav.navbar.navbar-expand-lg.navbar-light.bg-white
  .container
    a.navbar-brand(href='/') Flow Track
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarToggleExternalContent')
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarToggleExternalContent
      ul.navbar-nav.justify-content-end.w-100
        li.nav-item.me-auto
          a.nav-link(href='/users') Пользователи
        li.nav-item
          a.nav-link(href='/session/new') Вход
        li.nav-item
          a.nav-link(href='/users/new') Регистрация
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(href='/lang/en') EN
        li.nav-item
          a.nav-link(href='/lang/ru') RU
